{
  "settings": {
    "react": {
      "createClass": "createReactClass", 
      "pragma": "React", 
      "version": "detect",
      "flowVersion": "0.53" 
    }
  },
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "extends": ["airbnb", "prettier", "hlj-merchant"],
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2015
  },
  "plugins": ["react", "prettier"],
  "rules": {
    "prettier/prettier": ["error"],
    "react/no-unused-state": "warn",
    "no-unused-vars": "warn",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/prefer-stateless-function": "off",
    "import/no-extraneous-dependencies": "off",
    "class-methods-use-this": "off",
    "jsx-a11y/label-has-associated-control": [
      2,
      {
        "labelComponents": ["CustomInputLabel"],
        "labelAttributes": ["label"],
        "controlComponents": ["CustomInput"],
        "depth": 3
      }
    ]
  }
}
